<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>

    <!--Add a nav bar here -->
    <table class="table" id="table" data-filter-control="true">
        <thead>
            <tr>
                <th data-field="id">ID</th>
                <th data-field="Name">Name</th>
                <th data-field="City">City</th>
                <th data-field="Address">Address</th>
                <th data-field="Zip">Zip</th>
                <th data-field="State" data-filter-control="select">State</th>
                
                
            </tr>
        </thead>
        <tbody>
            {% for dealer in dealership_list %}
                <tr>
                    <td>{{dealer.id}}</td>
                    <td>{{dealer.Name}}</td>
                    <td>{{dealer.City}}</td>
                    <td>{{dealer.Address</td>
                    <td>{{dealer.Zip}}</td>
                    <td>{{dealer.State}}</td>
                    <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <input class="form-control" id="myInput" type="text" placeholder="Search..">
     
  </div>
</div>

                    ...
                </tr>
            {% endfor %}
        </tbody>
    </table>

    </body>
   <script>
  $(function() {
    $('#table').bootstrapTable()
  })
</script>
    <!-- Add reviews as cards -->

    </body>

</html>